<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UMLEditor</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!-- to ensure proper rendering and touch zooming on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/jqueryui/jquery-ui.css">
        <link rel="stylesheet" href="static/jqueryui/jquery-ui.structure.css">
        <link rel="stylesheet" href="static/jqueryui/jquery-ui.theme.css">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/jqueryui/jquery-ui.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/myscripts.js"></script>
    </head>

    <body>

    <!-- body START -->
    {% block body %} 

    
    {% endblock %}
    <!-- body END -->

    </body>

</html>