<!-- class card START -->
    <div class="container-fluid" id="display">
        <!-- class START -->
        <div class="card">
            <div class="card-header">
                Class Name 1
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li>Field 1</li>
                    <li>Field 2</li>
                    <li>Field 3</li>
                    <li>Field 4</li>
                </ul>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li>Method 1</li>
                    <li>Method 2</li>
                    <li>Method 3</li>
                </ul>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li>Relationship <i class="fas fa-long-arrow-alt-right"></i> Class 2</li>
                    <li>Relationship <i class="fas fa-long-arrow-alt-right"></i> Class 2</li>
                    <li>Relationship <i class="fas fa-long-arrow-alt-right"></i> Class 2</li>                    
                </ul>
            </div>

            <div class="card-footer nav justify-content-end nav-pills ">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editClassModal"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
<!-- class card END -->