{% block card %}
    <!-- class START -->
    <div class="card shadow" id="cardId{{class.index}}" name="{{class.name}}" style="left: {{class.x}}; top: {{class.y}}; z-index: {{class.zindex}};">
        <div class="card-header">
            {{ class.name }}
        </div>

        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for field in class.fields %}
                <li>{{field.visibility}} {{field.name}}: {{field.type}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for method in class.methods %}
                    <li>{{method.visibility}} {{ method.name }}(): {{method.type}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for relationship in class.relationships %}
                    <li><i class="fas fa-long-arrow-alt-right"></i> {{relationship.type}} {{relationship.other}}</li>
                {% endfor %}
            </ul>
            <div class="result" style="color: red;"></div>
        </div>

        <div class="card-footer nav justify-content-end nav-pills ">
            <button type="button" onclick="loadEditClassModal('{{class.name}}')" class="btn btn-primary getID editCard" data-toggle="modal" data-target="#editClassModal"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-primary getID" onclick="setDeleteData('{{ class.name }}')" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
        </div>
        <!-- Make this card draggable -->
        <script>draggable("#cardId{{class.index}}");</script>
    </div>
    <!-- class END -->
{% endblock card %}