{% extends "base.html" %}

<!-- body START -->
{% block body %}

        <!-- Save model name -->
        <script>
            let MODEL_NAME = "{{data.model_name}}";
            var classes = {};
        </script>

        <!-- Flash error/success messages START -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-modal-container">
        {% for category, message in messages %}
            {% if category == "error" %}
                <div id="flash{{ loop.index0 }}" class="flash-modal flash-error">
                    <button class="flash-exit-button" onclick="closeFlashMessage('#flash{{ loop.index0 }}')">X</button>
                    <p>{{ message }}</p>
                </div>
            {% elif category == "success" %}
                <div id="flash{{ loop.index0 }}" class="flash-modal flash-success">
                    <button class="flash-exit-button" onclick="closeFlashMessage('#flash{{ loop.index0 }}')">X</button>
                    <p>{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <!-- Flash msgs END -->

        <!-- sidebar wrapper START -->
        <div class="wrapper">
            <!-- sidebar START -->
            <div class="sidebar">
                <h3>UMLEditor</h3>
                <ul>
                    <li><a href="{{url_for('models')}}"><button type="button" class="btn">Change Model</button></a></li>
                    <li><a href="{{url_for('download', model_name=data.model_name)}}" download><button type="button" class="btn"><i class="fas fa-download"></i>Download</button></a></li>
                    <li><button type="button" class="btn" data-toggle="modal" data-target="#createClassModal"><i class="fas fa-pencil-ruler"></i>Create Class</button></li>
                    <li><a href="{{url_for('undo', model_name=data.model_name)}}"><button type="button" class="btn"><i class="fas fa-undo"></i>Undo</button></a></li>
                    <li><a href="{{url_for('redo', model_name=data.model_name)}}"><button type="button" class="btn"><i class="fas fa-redo"></i>Redo</button></a></li>
                </ul>            
            </div>
            <!-- sidebar END -->
        </div>
        <!-- sidebar wrapper END -->
    
        <!-- load file modal START -->
        {% include "loadFileModal.html" %}
        <!--load file modal END -->

        <!--create class modal START -->
        {% include "createClassModal.html" %}
        <!--create class modal END -->

        <!-- display START -->
        <div class="flex-container" id="display">
        <!-- Generate each class card -->
        {% for class in data.classes %}
            <!-- Generate card -->
            {% include "card.html" %}
        {% endfor %}    
            <svg id="drawRegion" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100%">
            </svg>
        </div>
        <!-- display END -->

        <!-- edit class modal START -->
        {% include "editClassModal.html" %}
        <!--edit class modal END -->

        <!-- delete class modal START -->
        {% include "deleteClassModal.html" %}
        <!--delete class modal END -->

{% endblock %}
<!-- body END -->