        <!-- delete class modal START -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="deleteModal">Delete class</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this class?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        <form action="{{url_for('deleteClass')}}" method="POST">
                            <!-- This stores the class name  -->
                            <input type="text" id="deleteClassInputName" value="" name="class_name" hidden>
                            <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--delete class modal END -->

        <!-- delete class confirmation modal START -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="deleteModal">Delete class</h4>
                    </div>
                    <div class="modal-body">
                        <p>The class has been deleted!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--delete class confirmation modal END -->
