<!-- class name START -->
<div class="form-group">
    <!-- hidden form input for sending the original name in POST request -->
    <input type="text" name="original_name" value="{{data.name}}" hidden>
    <label for="classname">Class Name</label>
    <div class="input-group mb-3">
        <input type="text" value="{{data.name}}" name="class_name" class="form-control" aria-label="Name of class" aria-describedby="basic-addon2">
    </div>
</div>
<!-- class name END -->

<!-- fields START -->
<div class="form-group">
    <label for="fieldname">Fields</label>
    <button class="btn btn-outline-secondary btn-sm float-right addField" type="button">Add Field</button>
    {% for field in data.fields %}
        <div class="input-group mb-3">
            <select name="field_visibility" class="form-control">
                {% if field.visibility == "public" %}
                    <option selected>Public</option>
                    <option>Private</option>
                {% else %}
                    <option>Public</option>
                    <option selected>Private</option>
                {% endif %}
            </select>
            <input type="text" name="field_type" value="{{field.type}}" class="form-control" aria-label="Type of field" aria-describedby="basic-addon2">
            <input type="text" name="field_name" value="{{field.name}}" class="form-control" aria-label="Name of field" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary delTextArea" type="button"><i class="fas fa-minus"></i></button>
            </div>
        </div>
    {% endfor %}
</div>
<!-- fields END -->

<!-- methods START -->
<div class="form-group">
    <label for="methodname">Methods</label>
    <button class="btn btn-outline-secondary btn-sm float-right addMethod" type="button">Add Method</button>
    {% for method in data.methods %}       
        <div class="input-group mb-3">
            <select name="method_visibility" class="form-control">
                {% if method.visibility == "public" %}
                    <option selected>Public</option>
                    <option>Private</option>
                {% else %}
                    <option>Public</option>
                    <option selected>Private</option>
                {% endif %}
            </select>
            <input type="text" name="method_type" value="{{method.type}}" class="form-control" aria-label="Type of method" aria-describedby="basic-addon2">
            <input type="text" name="method_name" value="{{method.name}}" class="form-control" aria-label="Name of method" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-sm addParameter" type="button">Add Parameter</button>
                <button class="btn btn-outline-secondary delTextArea" type="button"><i class="fas fa-minus"></i></button>
            </div>
            {% for parameter in method.parameters %}
                <div class="input-group mb-3">
                    <input hidden type="text" name="parameter_method" value="{{method.index}}">
                    <input type="text" name="parameter_type" value="{{parameter.type}}" class="form-control" aria-label="Type of parameter" aria-describedby="basic-addon2">
                    <input type="text" name="parameter_name" value="{{parameter.name}}" class="form-control" aria-label="Name of parameter" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary delTextArea" type="button">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<!-- methods END -->

<!-- relationships START -->
<div class="form-group">
    <label for="relationship">Relationships</label>
    <button class="btn btn-outline-secondary btn-sm float-right addRelationship" type="button">Add Relationship</button>
    {% for relationship in data.relationships %}
        <div class="input-group mb-3">
            <select id="inputRelationship" name="relationship_type" class="form-control">
                {% if relationship.type == "aggregation" %}
                    <option selected>Aggregation</option>
                    <option>Composition</option>
                    <option>Inheritance</option>
                    <option>Realization</option>
                {% elif relationship.type == "composition" %}
                    <option>Aggregation</option>
                    <option selected>Composition</option>
                    <option>Inheritance</option>
                    <option>Realization</option>
                {% elif relationship.type == "inheritance" %}
                    <option>Aggregation</option>
                    <option>Composition</option>
                    <option selected>Inheritance</option>
                    <option>Realization</option>
                {% else %}
                    <option>Aggregation</option>
                    <option>Composition</option>
                    <option>Inheritance</option>
                    <option selected>Realization</option>
                {% endif %}
            </select>
            <input type="text" value="{{relationship.other}}" name="relationship_other" class="form-control" placeholder="Enter associated class name" aria-label="Associated class" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary delTextArea" type="button"><i class="fas fa-minus"></i></button>
            </div>
        </div>
    {% endfor %}
</div>
<!-- relationships END -->