/*
 CSS for the GUI UML Editor
 Course:   CSCI 420 - Software Engineering
 Authors:  Adisa, Amy, Carli, David, Joan
 Date:     October 21 2020
*/
/************************************************************************/

html {
    height:100%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #393e46;
    height:100%;
    width: 100%;
}

svg {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

/* Relationship arrow */
path:hover {
    /* position: absolute; */
    cursor: pointer;
    stroke: #32e0c4;
}

/*** MODEL PAGE *********************************************************/

.modelContainer {
    /* background-color: cyan; */
    margin-left: 200px;
    padding: 10px;
}

.modelContainerHeader {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 7px;
    text-align: center;
    height:50px;
}

.modelTable {
    width: 100%;
}

.modelEntry {
    background-color: #eeeeee;
    border-bottom: 1px solid #555;
    width: 100%;
}

.modelEntry td, .modelEntry th {
    padding: 7px;
}

.modelButtonCol {
    width: 10%;
}

.modelButton {
    padding: 5px;
    float:right;
}

.modelButtonHead {
    text-align: right;
}


/*** FLASH MESSAGES *****************************************************/

.flash-modal-container {
    /* background-color: yellow; */
    min-width: 200px;
    width: 30%;
    top: 20px;
    left: 35%;
    position: absolute;
    margin: auto;
    z-index: 10;
}

.flash-modal {
    word-wrap: break-word;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
    display: block;
}

.flash-error {
    background-color: rgb(256, 150, 150);
    border: 2px solid #BB3333;
}

.flash-success {
    background-color: rgb(150, 256, 150);
    border: 2px solid #33BB33;
}

.flash-exit-button {
    float: right;
    width: 25px;
    background-color: unset;
    border: unset;
}

/*** SIDE BAR ***************************************************************/

.wrapper {
    display: flex;
    position: absolue;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #212121;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h3 {
    color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #222831;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li .btn:hover {
    color: #ec3f0a;
}

.wrapper .sidebar .btn .fas {
    padding-right: 5px;
}

.wrapper .btn {
    background-color: #212121;
    border: none;
    color: #32e0c4;
}

/*** MODAL POP-UP WINDOWS ***********************************************/

.modal-content {
    border: none;
}

.modal-header {
    background-color: #212121;
    color: #32e0c4;
}

.modal-body {
    background-color: #eeeeee;
    color: #212121;
}

.modal-footer {
    background-color: #212121;
}

.modal-footer .btn-secondary {
    background-color: #333333;
    border: none;
}

.modal-footer .btn-primary {
    background-color: #333333;
    color: #32e0c4;
    border: none;
}

.modal-footer .btn:hover {
    background-color: #32e0c4;
    color: #212121;
    border: none;
}

.form-group label {
    font-weight: bold;
}

#deleteModal, #confirmModal {
    font-size: large;
    font-weight: bold;
}

.addRelationship, .addTextArea {
    margin-bottom: 5px;
}

/*** DISPLAY AREA *******************************************************/

.flex-container {
    background-color: #393e46;
    display: block;
    position: relative;
    margin-left: 200px;
    height: 100%;
    overflow: auto;
    z-index: 0;
}

/*** MOVABLE CLASS CARDS ************************************************/

.ul {
    list-style-type: none;
}

.card {
    position: absolute;
    min-width: 10rem;
    min-height: 5px;
    width: auto;
    border-color: #212121;
    margin: 7px;
    border-radius: 5px;
}

.card-header {
    background-color: #212121;
    font-weight: bold;
    color: #32e0c4;
    padding: 10px;
}

.card-body {
    background-color: #eeeeee;
    font-size: small;
    border: #212121;
    border-top: dotted #212121 2px;
    padding: 10px;
}

.card-footer {
    background-color: #212121;
    border-top: dotted #eeeeee 2px;
    padding: 7px;
}

.card-footer button {
    background-color: #333333;
    border: none;
    align-items: right;
    margin-right: 5px;
}

.card-footer .fas {
    color: #eeeeee;
}

.card-footer .fas:hover {
    color: #212121;
}

.card-footer .btn:hover {
    background-color: #32e0c4;
}

/*** SELECT MODEL PAGE ***************************************************/

.modelContainerHeader, .modelTable .modelEntry {
    background-color: #212121;
    color: #32e0c4;
}

.modelEntry td {
    background-color: #212121;
    color: #eeeeee;
}

.modelButton {
    background-color: #333333;
    color: #eeeeee;
}

.modelButton .fas {
    margin-right: 5px;
}

.modelButton:hover {
    background-color: #32e0c4;
    color: #212121;
}